* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c6c8d1;
  color: #56565c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
}